ignoreErrors:
	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "isLocaleUpdated"
		count: 1
		path: src/DataLoader.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "loadData"
		count: 1
		path: src/DataLoader.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "source"
		count: 1
		path: src/DataLoader.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/DataLoaders/Neon.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Diagnostics/Panel.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/BadCountForPluralMessageException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/BadLocaleNameException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/CantAcquireLockException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/CantChangeLocaleForImmutableTranslatorException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/ClearCacheFailedException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/NoCountForPluralMessageException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/NoDataLoaderException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/NoLocaleFileException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/NoLocaleSelectedException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/NotPluralMessageException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/ParsingErrorException.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Exceptions/SomeSectionMissingException.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "getLocale"
		count: 1
		path: src/ITranslator.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "translate"
		count: 1
		path: src/ITranslator.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "afterCacheBuild"
		count: 1
		path: src/LocaleUtils.php

	-
		sniff: Squiz.Scope.MethodScope.Missing
		message: Visibility must be declared on method "afterCacheClear"
		count: 1
		path: src/LocaleUtils.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/LocaleUtils/Opcache.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $locale.
		count: 2
		path: src/LocaleUtils/Opcache.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $source.
		count: 1
		path: src/LocaleUtils/Opcache.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Nette/DI/Extension.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/RequestResolver.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $application.
		count: 1
		path: src/RequestResolver.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/Translator.php

	-
		sniff: SlevomatCodingStandard.Classes.RequireAbstractOrFinal.ClassNeitherAbstractNorFinal
		message: All classes should be declared using either the "abstract" or "final" keyword.
		count: 1
		path: src/TranslatorImmutable.php

	-
		sniff: SlevomatCodingStandard.Functions.UnusedParameter.UnusedParameter
		message: Unused parameter $request.
		count: 1
		path: tests/helpers/HomepagePresenter.php

	-
		sniff: Forrest79CodingStandard.Exceptions.ExceptionDeclaration.IncorrectExceptionDirectory
		message: 'Exception file "TestLocaleUtilsException.php" must be placed in "Exceptions" directory (is in "helpers").'
		count: 1
		path: tests/helpers/TestLocaleUtilsException.php

	-
		sniff: SlevomatCodingStandard.TypeHints.DeclareStrictTypes.IncorrectWhitespaceAfterDeclare
		message: 'Expected 1 line after declare statement, found 2.'
		count: 1
		path: tests/helpers/functions.php

	-
		sniff: Squiz.Functions.GlobalFunction.Found
		message: Consider putting global function "createLocale" in a static class
		count: 1
		path: tests/helpers/functions.php

	-
		sniff: Squiz.Functions.GlobalFunction.Found
		message: Consider putting global function "translate" in a static class
		count: 1
		path: tests/helpers/functions.php
