includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: max
	excludes_analyse:
		- %rootDir%/../../../tests/temp/*
	autoload_files:
		- %rootDir%/../../../tests/bootstrap.php
