includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
	- phpstan-php80.php

parameters:
	level: max
	excludePaths:
		- %rootDir%/../../../tests/temp/*
	ignoreErrors:
		-
			message: '#^Method Forrest79\\Translation\\CatalogueLoaders\\Neon\:\:loadData\(\) should return array\<string, array\<string, list\<string\>\|string\>\|string\|null\> but returns array\<mixed, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/CatalogueLoaders/Neon.php

		# === This is OK (just for tests) ===

		-
			message: '#^Call to an undefined method Forrest79\\Translation\\CatalogueExtractors\\Neon::getLoggedMessages\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: %rootDir%/../../../tests/src/CatalogueExtractorNeonTest.php

		-
			message: '#^Call to an undefined method Forrest79\\Translation\\(CatalogueLoader::setData|CatalogueLoader::setIsLocaleUpdated|CatalogueUtils::getAfterCacheBuild|CatalogueUtils::getAfterCacheClear|Logger::getLocaleFiles)\(\)\.$#'
			identifier: method.notFound
			count: 18
			path: %rootDir%/../../../tests/src/CataloguesTest.php

		-
			message: '#^Call to an undefined method Tracy\\ILogger::getMessages()\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: %rootDir%/../../../tests/src/TracyTest.php

		-
			message: '#^Call to an undefined method Forrest79\\Translation\\Logger::(getUntranslated|getErrors)\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: %rootDir%/../../../tests/src/TranslatorTest.php
